@import url("normalize.css");
.container{
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}
.logo{
    float: left;
    width: 184px;
    margin-top: 20px;
    margin-bottom: 19px;
}
.logo img{
    width: 184px;
}
nav{
    float:right;
    margin-top: 26px;
}
header .container{
    background-color: #007765;
}

.clear{
    clear: both;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {text-decoration: none;
}
nav li{
    display: inline-block;
    color: white;
    font: 24px Roboto;
}
nav a{
    color: white;
}
.jumbotron .container{
    background-image: url("../images/back1.png");
    background-size: cover;
    background-position: center center;
    padding-top: 160px;
    padding-bottom:160px;
}

.text {
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}