@import url("normalize.css");
.container {
    box-sizing: border-box;
    max-width: 1219px;
    height: 100%;
    margin: 0 auto;
    padding-left: 56px;
    padding-right: 55px;
    background-color: #EEEEEE;
    overflow: hidden;
}
.logo{
    float: left;
    width: 184px;
    margin-top: 20px;
    margin-bottom: 16px;
}
.logo img{
    width: 184px;
}
nav{
    float:right;
    margin-top: 28px;
}
header .container{
    background-color: #007765;
}

.clear{
    clear: both;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    }

a {text-decoration: none;
}
nav li{
    display: inline-block;
    color: white;
    font: 24px Roboto, sans-serif;
    font-weight: 500;
}
nav a{
    color: white;
}
.jumbotron .container{
    background-image: url("../images/back1.png");
    background-size: cover;
    background-position: center center;
    padding-top: 160px;
    padding-bottom:160px;
}

sup{
    font-size: 12px;
}
b{
    font-weight: 700;
    letter-spacing: -0.7px;
}
.textPiper {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #fff;
}

#problem, #PiedPiperCoin, #team{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    overflow: auto;
    color: #007765;
    padding-top:48px;
}

.the_problem p, .PPC p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 39.5px;
    color: #000000;
    margin-top: 15px;
}
.the_problem p:last-child, .PPC p:last-child {
    margin-bottom: 92px;
    overflow: auto;
}

.Hero .container{
    background-image: url("../images/image-1.png");
    background-size: cover;
    background-position: center center;
    padding: 78px 163px;
}

.Hero p{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 48px;
    font-style: italic;
    line-height: 56px;
    color: white;
    text-align: center;
}

.PPC img{
    float: left;
    width: 115px;
    margin-right: 55px;
}
.clear{
    clear: both;
}

.team_membercard{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.team_membercards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 34px;
}

.team_membercard img{
    width: 168px;
    margin-bottom: 16px;
}
.team_membercard div{
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.team_membercard a{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #007765;
}

.PPC .container{
    background-color: white;
}
.Team .container{
    padding-bottom: 84px;
}
footer .container{
    background-color: #333333;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: white;
}
footer .container p {
    margin: 48px 285px 64px 285px;
}
